#page-container {
  position: absolute;
  padding-left: 350px;
  padding-right: 80px;
  width:100%;
}
html body {
  margin:0;
  padding:0;
  overflow-x: hidden;
}
#about-content p {
  padding-left: 15px;
  font-size: 15px;
}
#about-content{
  padding-bottom: 50px;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    padding-left: 20px;
}
h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  padding-top: 20px;
  
}
h3 {
  font-family: 'Press Start 2P', cursive;
  font-size: 25px;
  padding-top: 35px;
  padding-left: 20px;
  position: relative;
  top: -40px;
    
  
}
#mobile-header {
  display: none;
}

/*Side Bar Nav*/
#fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: calc(100vh - 0px);
  background: #FF9A80;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow: hidden;
}
#fixed-sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#fixed-sidebar ul li {
  margin: 50px 0;
  font-family: 'Press Start 2P', cursive;
  position: sticky;
 
}

#fixed-sidebar li a {
    color: white;
}

#fixed-sidebar li a:hover {
  background-color: #FF8F80;
  color: #FF533D;
  text-decoration: none;
  display:block;
  height: 60px;
  position:relative;
  padding-top: 15px;
  border: #FF533D;
  border-style: double;
}
/*End Side Nav */


#hero {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

/* My Skills Menus and Content START*/
#my-skills-content {
  padding-top: 50px;
  padding-bottom: 100px;
  display: block;
}
#balloon-background {
  background-image: url(.../images/Balooncake3D.png);
  top: 500px;
  padding-bottom:550px;
   background-repeat: no-repeat;
   background-size: 100% auto;
  
}

.my-skills-nav {
padding-top: 40px;
}

/* My Skills Menus and Content END*/

/* My Work Content START*/
.habitat img{
  height: auto; 
  width: 500px;
  position:absolute;
  border: #FF533D;
  border-style: dotted;
}


.lemon-zest img{
  height: auto; 
  width: 500px;
  position:absolute;
  left: 500px;
  border: #FF533D;
  border-style: dotted;
}

.travel-cat img{
  height: auto; 
  width: 500px;
  position:absolute;
  border: #FF533D;
  border-style: dotted;
  top: 405px;
}

.place-holder{
  height: 335px; 
  width: 500px;
  position:absolute;
  left: 500px;
  border: #fff;
  border-style: dotted;
  top:405px;
  background-color: #FF533D;
  
}

#my-work-content{
  display:block;
  height:auto;
  width:100%;
  position: relative;
  padding-top: 50px;
  
}
.work-nav {
  padding-bottom: 700px;
}
/* My Work Content END */
#hero img{
  width: 100%;
  height: auto;
  border: #FF533D;
  border-style: double;
}

.logo img {
  height: auto;
  width: 100%; 
}

.copyright {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-style: italic;
  font-weight: 200;
  color: #FF533D;
}

@media (max-width: 767px){
  #page-container {
    padding: 0 20px;
  }
  #fixed-sidebar {
    display: none;
  }
  #mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img {
      height: 50px;
      width: 50px;
  }
  h1 h2 {
      font-family: 'Press Start 2P', cursive;
      font-size: 16px;
      padding-left: 20px;
      
  }
  img {
    height:auto;
    width:100%;
  }
  #my-skills-content {
    font-size: 14px;

  }
  #balloon-background {
    background-image: url(/images/Balooncake3D.png);
    top: 500px;
    padding-bottom:40px;
     background-repeat: no-repeat;
     background-size: 100% auto;
    
  }
}



